.vscode
*build
*output
*outputFrames
*movie.gif
.clangd
a.out

gmon.out
perf.data
perf.data.**

venv

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json


